# Environment
NODE_ENV=production

# Server
PORT=3000

# Frontend URL (Domain của bạn)
FRONTEND_URL=https://tungha104.id.vn

# MindX OAuth Configuration
MINDX_CLIENT_ID=mindx-onboarding
MINDX_CLIENT_SECRET=cHJldmVudGJvdW5kYmF0dHJlZWV4cGxvcmVjZWxsbmVydm91c3ZhcG9ydGhhbnN0ZWU=

